
.main {
    /* background-image: url('https://plus.unsplash.com/premium_photo-1683758342885-7acf321f5d53?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-color: rgb(234, 234, 235);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    border: 0.5px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 10px 5px rgb(218, 223, 226);
}

.sidebar-nav {
    background: black;
}
